<div class="row" style="height:100vh">
  <div class="col col-sm-12 d-flex justify-content-center align-items-center">
    <div class="card" style="width: 18rem">
      <h1 class="card-title text-center" >Login</h1>

      <div class="card-body">
        <div class="row">
          <div class="col col-sm-12  my-2">
            <label for="email" class="form-label">Email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="name@example.com"
              [(ngModel)]="email"
            />
          </div>
          <div class="col col-sm-12  my-2">
            <label for="password" class="form-label">Password</label>
            <input
              (keyup)="watchEnter($event)"
              type="password"
              class="form-control"
              id="password"
              [(ngModel)]="password"
              placeholder="name@example.com"
            />
          </div>
          <div class="col col-sm-12  my-2 text-center">
            <button (click)="login()"  class="btn btn-primary">Login</button>
          </div>
          <div class="col col-sm-12  my-2 text-center">
            <a routerLink="/signup" class="btn">Create New Account</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
