<div>
  <p *ngIf="show; else other">article works!</p>
  <ng-template #other>
    <p>P Is Hidden Click Again To See It</p>
  </ng-template>
  <button (click)="show = !show">show/hide</button>

  <div class="my-5" [ngSwitch]="articleState">
    <p *ngSwitchCase="'pending'">Article Status Is Pending</p>
    <p *ngSwitchCase="'active'">Article Status Is Active</p>
    <p *ngSwitchCase="'removed'">Article Status Is Deleted</p>
    <p *ngSwitchDefault >Incorrect State</p>
  </div>

  <h2>Comments</h2>
  <ul>
    <li
      *ngFor="let comment of comments; index as i; first as isFirst; last as isLast; odd as isOdd; even as isEven"
      [id]="comment.id"
      [style.borderTop]=" !isFirst ? '1px solid #000' : ''"
      [style.color]="isOdd ? '#000' : '#FFF'"
      [style.background]="isEven ? '#000' : '#FFF'"
    >
      {{ comment.content }} With Index {{ i }}, Is First: {{ isFirst }} And Is Last:
      {{ isLast }}
    </li>
  </ul>
</div>
