<app-default-nav></app-default-nav>

<div class="container">
  <!-- <p> {{ title }} </p>
  <p> user name: {{ getUserName() }} great!</p>
  <div class="{{classList}}" ></div> -->

  <!-- <input type="text" disabled="{{false}}" > -->

  <!-- <input
    (keyup)="printValue($event)"
    [type]="inputType"
    [value]="inputPlaceholder"
    [placeholder]="inputPlaceholder"
    [style]="elementStyle"
    [class]="classList"
    [disabled]="isDisabled()"
    #input
  > -->


  <!-- <input type="email" [value]="email" (keyup)="updateInputValue($event)" placeholder="email@ex.com"> -->
  <!-- <input type="email" [(ngModel)]="email" placeholder="email@ex.com"> -->

  <!-- <div  [ngClass]="divClasses()" >bla bla </div> -->
  <!-- <div  [style.color]="isAdmin ? 'red' : 'green'" >bla bla </div> -->
  <!-- <div
    #wowDiv
    (dblclick)="sayHello()"
    [ngStyle]="divStyle()"
  > {{email}} </div>

  <button (click)="toggleState()" > toggle </button>
  <button (click)="printInput(wowDiv)" > Print Input </button> -->

    <app-article *ngIf="showArticle" ></app-article>

</div>
