<div class="row">
  <div class="col col-sm-12 mb-3">
    <label for="title" class="form-label">Article title</label>
    <input
      type="text"
      class="form-control"
      id="title"
      placeholder="name@example.com"
      [(ngModel)]="article.title"
    />
  </div>
  <div class="col col-sm-12 mb-3">
    <label for="content" class="form-label">Article Content</label>
    <textarea
      type="text"
      class="form-control"
      id="content"
      placeholder="name@example.com"
      [(ngModel)]="article.content"
    ></textarea>
  </div>
  <div class="col col-sm-12 mb-3">
    <button  (click)="update()"  class="btn btn-success">Update</button>
  </div>
</div>
