<div class="row" style="height:100vh">
  <div class="col col-sm-12 d-flex justify-content-center align-items-center">
    <div class="card" style="width: 18rem">
      <h1 class="card-title text-center" >Signup</h1>
      <div class="card-body">
        <div class="row">
          <div class="col col-sm-12  my-2">
            <label for="name" class="form-label">Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              placeholder="Your Name"
              [(ngModel)]="name"
            />
          </div>
          <div class="col col-sm-12  my-2">
            <label for="email" class="form-label">Email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="name@example.com"
              [(ngModel)]="email"
            />
          </div>
          <div class="col col-sm-12  my-2">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              [(ngModel)]="password"
              placeholder="Your Password"
            />
          </div>
          <div class="col col-sm-12 my-2 text-center" >
            <button (click)="signup()" class="btn btn-primary">Signup</button>
          </div>
          <div class="col col-sm-12 text-center">
            <a routerLink="/login" class="btn">Already Have Account ?</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
